#svg1 {
  width: 100%;
}

.with-glow {
  stroke-opacity: 1;
  filter: url(#purple-glow);
}

.notehead:hover {
  filter: url(#purple-glow);
}

path:hover {
  filter: url(#purple-glow);
}

.notehead:hover {
  opacity: 1;
  fill: darkred;
  cursor: pointer;
  stroke-width: 2;
}

.notehead path:hover {
  stroke-width: 2;
}

