.worksList {
    margin: 3% 20% 5% 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 10px!important;
}

.header {
    margin: 1% 0% 0% 2%;
    font-family: 'Garamond  ';
}

h1 {
    font-size: 50px;
}
